@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body{
    background-color: #382E2E;
    /* background-color: rgb(97, 97, 56); */
    text-align: center;
}

.appTitle{
    max-width: 500px;
    align-items: center;
    padding: 25px;
}

.gridLayout{
    display: grid;
    grid-template-columns: repeat(auto-fill, 210px);;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
}

.ulApp{
    margin: 0px;
    padding: 0px;
}

.footerStyle{
    background-color: rgb(201, 28, 28);
    margin-top: 20px;
    padding: 14px 15px 14px 15px;
}
/* .posterBox{
    width: 240px;
    height: auto;
    background-color: #ffffff3f;
    border-radius: 15px;
    padding: inherit;
    list-style: none;
} */