@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

.pagination{
    margin: 0px 40px 0px 40px;
}

.pagination-previous{
    width: 100px;
    height: 35px;
    background-color: white;
    border-radius: 8px;
    font-family: 'Signika', sans-serif;
}

.pagination-next{
    width: 100px;
    height: 35px;
    background-color: white;
    border-radius: 8px;
    font-family: 'Signika', sans-serif;
}

.pagination-link{
    width: 10px;
    height: 35px;
    background-color: white;
    border-radius: 8px;
    font-family: 'Signika', sans-serif;
}

.pagination-link.is-current {
    width: 10px;
    height: 35px;
    background-color: rgb(59, 59, 59);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.562);
    border: none;
}